{% extends "RBAC/login.html" %} 
<meta charset="UTF-8">

{% block user %}
	<div class="x-body layui-anim layui-anim-up">
	<form method="post" class="layui-form" >
		<div class="layui-form-item">
		  	<div class="layui-form-item">
				{% csrf_token %}
				{{ form.as_table }}
			</div>
			<input value="申请" style="width:100%;" type="submit">
			<hr class="hr20" >
	     	<div class="layui-row">
	     		<div class="layui-col-xs6">
	      			<span><a href="{% url 'login' %}">已有账号？返回登录</a></span>
	      		</div>
			    <div class="layui-col-xs6" align='right'>
					<span><a href="{% url 'resetpsds' 'resetpsd' %}">忘记密码？密码重置</a></span>
				</div>
			</div>
		</div>
 	</form>
 </div>
{% endblock %}