{% load staticfiles %}
{% load custom_tag %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SeMF安全管控平台</title>
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    
	    
		<link href="{% static '/css/font.css' %}" rel="stylesheet">
		<link href="{% static 'css/xadmin.css' %}" rel="stylesheet">
		
		
	
	    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script> <!-- jQuery Library -->
	    <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
	    <script src="{% static 'js/xadmin.js' %}"></script>
	    
	    <script>
	    function noticecount(){
	    	$.get("{% url 'noticecount' %}",function(res){
	    		if(res.notice_count!=0){
	    			$("#noticecount").append("<span class='layui-badge'>"+ res.notice_count +"</span>")
	    		}
		 	})
	    }
	    $(document).ready(function(){    
			noticecount();
			setInterval(function(){
				noticecount();
	    	},60000)
	    	$("#noticecount").click(function(){
    		  $("#noticecount span ").remove();
    		});
		});
	    </script>
	    
	</head>
	
	<body>
		<!-- 顶部开始 -->
	    <div class="container">
	        <div class="logo" align='center'><a href="#">SeMF安全管控平台</a></div>
	        <div class="left_open">
	            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
	        </div>
	        <ul class="layui-nav left" lay-filter="">
	        	<li class="layui-nav-item">
	        		<a _href="{% url 'noticeview' %}" class='tab_add' id='noticecount'><i class="layui-icon layui-icon-notice"></i></a>
	        	</li>
	        </ul>
	        
            <ul class="layui-nav right" lay-filter="">
		      <li class="layui-nav-item">
		        <a href="javascript:;">
		          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
		          {{ user }}
		        </a>
		        <dl class="layui-nav-child">
		          <dd><a onclick="x_admin_show('基本信息','{% url 'userinfo'%}',600,700)">基本资料</a></dd>
		          <dd><a onclick="x_admin_show('资料变更','{% url 'changeuserinfo'%}',600,750)">资料变更</a></dd>
		          {% if not user.is_superuser %}
		          	<dd><a onclick="x_admin_show('资产交接','{% url 'assethandover'%}',600,500)">资产交接</a></dd>
		          {% endif %}
		          <dd><a onclick="x_admin_show('更改密码','{% url 'changepsd'%}',600,500)">更改密码</a></dd>
		          <dd><a href="{%  url  'logout' %}">退出登录</a></dd>
		        </dl>
		      </li>
		    </ul>
	    </div>
	    <!-- 顶部结束 -->
	    <!-- 中部开始 -->
	    <!-- 左侧菜单开始 -->
	    <div class="left-nav">
	    	<div id="side-nav">
	    		<ul id="nav">
	    		{% rbac_menu request %}
		        </ul>
	    	</div>
	    </div>
	    <!-- 左侧菜单结束 -->
	    <!-- 右侧主体开始 -->
	    <div class="page-content">
	        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
	          <ul class="layui-tab-title">
	            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
	          </ul>
	          <div class="layui-tab-content">
	            <div class="layui-tab-item layui-show">
	                <iframe src="{% url 'main' %}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="page-content-bg"></div>
	    <!-- 右侧主体结束 -->
	    <!-- 中部结束 -->
	    <!-- 底部开始 -->
	    <div class="footer">
	        <div class="copyright" align='center'>Copyright ©2018 SeMF All Rights Reserved </div>
	    </div>
	    <!-- 底部结束 -->
	</body>
</html>